.sideBar {
  width: 15%;
  height: 100%;
  background-color: #22293b;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 2%; */
  color: #ffffff;
  position: relative;
  left: 0;
}

.sideBarLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideBarLogo > img {
  width: 75%;
}

.sideBarMenu {
}

.sideBarMenuItem {
  /* margin: 5% 0% 5% 0%; */
  padding-left: 10%;
  height: 2.5rem;
}

.sideBarMenuItem:hover {
  background-color: #10131c;
}

.sideBarMenuItem > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "righteous";
  font-size: 16pt;
  opacity: 0.8;
}

.sideBarMenuItem > a:hover {
  /* color: #01cbee; */
  opacity: 1;
}

.selected {
  color: #01cbee;
  opacity: 1;
}