#signIn {
    background-color: #141822;
    background-image: url("../../img/background.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Righteous";
}

#signIn h1,
#signIn h3 {
    margin: 0;
    padding: 0;
}

#signIn a {
    font-size: 12px;
    text-decoration: none;
    color: #e41376;
}

.backgroundSignIn {
    box-shadow: rgb(228 19 118 / 100%) 3px 0px 15px, rgb(1 203 238 / 100%) -3px 0px 15px;
    background: rgba(228, 19, 118, 0.37);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(228, 19, 118, 0.28);
}

.logo {
    height: 20%;
}

.form-sign-in {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
    justify-content: center;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 25%;
}

.formText {
    letter-spacing: 2px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    opacity: 0.6;
}

.form-input-sign-in {
    width: 100%;
    min-height: 2.5rem;
    background-color: #272732;
    border: none;
    outline: none;
    color: #ffffff;
    caret-color: #e41376;
    font-size: 14px;
}

.form-button-sign-in {
    background-color: #222834;
    box-shadow: -3px -3px 4px #e41376, 3px 3px 4px #01cbee;
    width: 60%;
    min-height: 3rem;
    border: none;
    outline: none;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    cursor: pointer;
}

.formSeparation {
    margin-top: 2%;
    width: 80%;
    outline: none;
    border: none;
}

.signUpSize {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.create-account-button {
    background-color: #cc1f38;
    width: 60%;
    height: 80%;
    border: none;
    outline: none;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    cursor: pointer;
}

.mediaSignIn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mediaImg {
    width: 8%;
    cursor: pointer;
}
