#mainContent {
    /* background-color: #1e3044; */
    background-image: url("../../img/Esport-wallpaper.jpg");
    color: #ffffff;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
}

.welcomePage {
    /* background-image: url("../../img/Esport-wallpaper.jpg"); */
    background-image: linear-gradient(
            rgba(56, 82, 160, 0.2),
            rgba(20, 24, 34, 1)
    );
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomePage h1 {
    font-size: 40px;
}

.background {
    background-image: linear-gradient(
            rgba(56, 82, 160, 0.2),
            rgba(16, 19, 28, 1)
    );
    background-position: center;
    background-size: cover;
}

.background-news-work{
    background-color: #141822;
    background-image: url("../../img/background.png");
    background-size: cover;
    background-position: center center;
}

.joinNow {
    background-color: #cc1f38;
    border-color: transparent;
    cursor: pointer;
}

.welcomeBtnText {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

.news{
    /*background-color: #141822;*/
    /*background-image: url("../../img/background.png");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works {
    /*background-color: #141822;*/
    /*background-image: url("../../img/background.png");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #ffffff;
    margin: 2% 5% 2% 5%;
    border-bottom: 3px solid #cc1f38;
    width: 14%;
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    background-color: transparent;
}

.cs-card {
    /*background-color: #22293b;*/
    /*background-color: #222831;*/
    background-color: #222834;
    text-align: center;
    border-radius: 20px;
    box-shadow: -5px -5px 4px #e41376, 5px 5px 4px #01cbee;
    width: 16rem;
    justify-content: center;
    align-items: center;
}

/*.cs-card p {*/
/*    font-size: 10pt;*/
/*}*/

.learnMore {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.learnMore a {
    text-decoration: none;
    color: #e41376;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ourPartners {
    background-color: #141822;
    /* background-image: url("../../img/background.png"); */
    height: 75vh;
    width: 100%;
    display: flex;
    background-size: cover;
    /* background-position: center center; */
    flex-direction: column;
    justify-content: center;
}

.ourPartnersCard {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.ourPartnersCard {
    width: 90%;
    height: 100%;
    margin: 2% 5% 2% 5%;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cs-logo-card {
    background-color: #222834;
    text-align: center;
    border-radius: 5px;
    box-shadow: -3px -3px 4px #e41376, 3px 3px 4px #01cbee;
    width: 50%;
}

.cs-logo-card p {
    margin: 1rem 0 1rem 0;
}