.welcomePage {
  background-image: url("../../img/Esport-wallpaper.jpg"),
    linear-gradient(to bottom, rgba(16, 19, 28, 0.2), rgba(16, 19, 28, 1));
  background-size: cover;
  height: 100vh;
}
/* .background {
  background-image: #10131c, linear-gradient(to bottom, transparent, #10131c);
  background-color: #10131c, linear-gradient;
  height: 100vh;
  background-size: cover;
  opacity: 0.8; 
  filter: blur(8px);
} */
